
:root {
    --clr-main: #1a1a1a;;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

 



h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

a, i {
    text-decoration: none;
}

.wrapper { 
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
    position: relative;
    margin-top: 150px;
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    font-size: 1.3rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    


    justify-content: center;  /* Centra el contenido horizontalmente */
    height: 100vh;      
}

.boton-menu {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
}
.boton-menu:hover{
    background-color: #ffffff;
    text-decoration: none;
    color: #161616;
    border-radius: 10px;
}

.boton-menu.active {
    background-color: #FFB700;
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}

/*CSS MODAL - PROMOCIONES*/
/* Estilos del modal */
/* Estilo para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Contenido del modal */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Botón para cerrar el modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

  
/*FIN MODAL PROMOCIONES*/

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.boton-carrito {
   padding: 10px 26px;
}
.btn-carrito{
    background-color: #158000;
    border-radius: 10px;
    border: none;
}

.numerito {
    background-color: var(--clr-white);
    color: var(--clr-main);
    height: 25px;
    width: 40px;
    padding: .15rem .25rem;
    border-radius: .15rem;
}

.boton-carrito.active .numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.texto-footer {
    color: var(--clr-main-light);
    font-size: .85rem;
}

main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}



/* Estilos para el contenedor principal */
.contenedor {
    display: flex;
    border: solid rgb(15, 15, 15);
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para la imagen del producto */
.producto-imagen {
    padding: 15px;
    border:  1px solid #aaaaaa;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.producto-detalles {
    background-color: rgb(219, 219, 219);
    color: rgb(57, 57, 57);
    padding: 10px 15px ;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 320px; 
}
.producto-precio{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.producto-titulo {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.producto-agregar {
    border: 0;
    background-color: #FFB700;
    color: #1a1a1a;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;

    padding: .4rem;
    border-radius: 1rem;
    cursor: pointer;

}

.producto-agregar:hover {
    background-color:  #1a1a1a;
    color: var(--clr-white);
}


/** CARRITO **/

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: var(--clr-main);
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;

    border: 0;
    background-color:#e40045;
    padding: 5px 15px;
    border-radius: 10px;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
}
.custom-swal-popup {
    font-family: "Roboto", sans-serif; /* Tipo de letra */
    font-size: 20px;
    font-weight: 500;
    color: #127b00;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    border: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    
    display: flex;
    justify-content: center;
    background-color: #FFB700;
    padding: 15px 15px 0 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    color: var(--clr-main);
    text-transform: uppercase;
}
#total{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.carrito-acciones-comprar {
    border: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;

    background-color: #009b15;
    display: flex;
    justify-content: center;
    padding: 15px 15px 0 15px;
    border-end-end-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;

}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

/*** MEDIA QUERIES ***/

@media screen and (max-width: 850px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 675px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-gray);
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: var(--clr-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    

}



@media screen and (max-width: 400px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
    }
}


/*RESPONSIVE*/
@media screen and (max-width: 600px) {
    .header-1, .header-2, .header-22 {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10px;
        height: auto;
    }
    .logo-empresa {
        width: 150px;
    }
    .nav-linkk {
        padding: 10px 0;
    }
}
@media screen and (max-width: 400px) {
    .wrapper {
        grid-template-columns: 1fr;
        padding: 0;
    }
}
@media screen and (max-width: 400px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
        gap: .5rem;
    }
    .contenedor {
        max-width: 100%;
    }
}






/** RESPONSIVE DE NAV DE HEADER*/
/* Estilo para el menú hamburguesa en pantallas pequeñas */
.menu-toggle {
  display: none;
  background-color: #333;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.nav-items {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Mostrar el botón de menú hamburguesa */
  }

  .nav-items {
    display: none; /* Ocultar el menú de navegación */
    flex-direction: column;
    width: 100%;
  }

  .header-22.active .nav-items {
    display: flex; /* Mostrar el menú cuando se activa el toggle */
  }

  .nav_items-1, .nav_items-2, .nav_items-3 {
    width: 100%;
    text-align: center;
  }

  .nav-item {
    margin: 10px 0;
  }

  .btn-tienda {
    width: 100%;
  }
}


